@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&display=swap');

:root {
    --first-clr: #FFFBF5;
    --second-clr: #17181C;
    --red-clr: #F41E1D;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  	font-family: 'Inter', sans-serif;
  	color: white;
  	background-color: var(--first-clr);
	min-height: 100vh;
}

.bg-first-clr {
  background-color: var(--first-clr);
}

.bg-red-clr {
  background-color: var(--red-clr);
}

.bg-projects-clr-first {
  background-color: #3CAB87;
}

.bg-projects-clr-second {
  background-color: #98BEC8;
}

.bg-projects-clr-third {
  background-color: #FDF0EC;
}

.bg-projects-clr-fourth {
  background-color: #E9C3B8;
}

.bg-color-animation {
	animation: changeClr 5s infinite alternate linear;
}

@keyframes changeClr {
	0% {
		background-color: #3CAB87;
	}
	50% {
		background-color: #98BEC8;
	}
	100% {
		background-color: #E9C3B8;
	}
}

.cta {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  background: none;
  border: none;
  padding: 12px 18px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(calc(100% + 4px));
    width: 45px;
    height: 45px;
    background: var(--red-clr);
    border-radius: 50px;
    transition: transform .25s .25s cubic-bezier(0, 0, .5, 2), width .25s cubic-bezier(0, 0, .5, 2);
    z-index: -1;
  }

  &:hover::before {
    width: 100%;
    transform: translateY(-50%) translateX(-18px);
    transition: transform .25s cubic-bezier(0, 0, .5, 2), width .25s .25s cubic-bezier(0, 0, .5, 2);
  }

  &:hover {
    transform: translateX(3px);
  }
}

.icon-animation {
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-15px);
  }
  100%{
    transform: translateY(0);
  }
}

.card {
	position: relative;
	transition: transform 500ms ease;
	overflow: hidden;

	@media only screen and (max-width: 640px) {
		width: 342px;
		height: auto;
	}

	@media only screen and (max-width: 375px) {
		width: 240px;
		height: auto;
	}
}

.card-content {
	--padding: 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: var(--padding);
	background: #FDF0EC;

	@media only screen and (max-width: 478px) {
		--padding: 0.5rem;
	}
}

.card-title {
	position: relative;
	width: max-content;

	&::after {
		content: '';
		position: absolute;
		height: 3px;
		left: calc(var(--padding) * -1);
		bottom: -2px;
		width: calc(100% + var(--padding));
		background: var(--second-clr);
		transform-origin: left;
		transition: transform 500ms ease;
	}
}

@media (hover) {
	.card-content {
		transform: translateY(100%);
		transition: transform 500ms ease;

		& > *:not(.card-title) {
			opacity: 0;
			transition: transform 500ms linear;
		}
	}

	.card:hover .card-title::after {
		transform: scaleX(1);
	}

	.card:hover .card-content {
		transform: translateY(0);
		transition-delay: 200ms;
	}

	.card:hover .card-content > *:not(.card-title) {
		opacity: 1;
	}

	.card-title::after {
		transform: scaleX(0);
	}
}

